
.collers-container {
    margin: 0 auto;
    width: 102px;
    height: 35px;
}

.collers-text {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 1.1;
    color: #78350F;
}

